<div class="container">
    <title>Greetings</title>
    <h1>Greetings</h1>
    <div class="box1">
        <h3>Insert your name and watch it greet you!</h3>
        <p>
            <br>
            <div class="box3">
                <span class="total ">
                    <span class="displayTheName"></span>
                </span>
            </div>
            <label>Name</label>
            <input type="text" class="myText" value="">
            <span class="counter ">counter:
                <span class="displayTheCount"></span>
            </span>
        </p>
    </div>
    <div class="radioBtnDiv">
        <form action="/action" method='post'>
            <input type="radio" class="langTypeRadio" name="lang" value="english"> English</input>
            <input type="radio" class="langTypeRadio" name="lang" value="afrikaans"> Afrikaans</input>
            <input type="radio" class="langTypeRadio" name="lang" value="isiXhosa"> isiXhosa</input>
        </form>
    </div>
    <br>
    <div class="box2">
        <from action="/" method='post'>
            <button class="btnDisplayValue button" type="button" name="button">
                <span>Greet</span>
            </button>
            <button class="btnResetValue button" type="button" name="button">
                <span>Reset</span>
            </button>
        </from>>
    </div>
    <br>

    <div class="box4">
        <span class="counter ">
            <span class="displayTheCount"></span>
        </span>
    </div>
</div>