<body>
    <div class="box1">
        <h3>Insert your name and watch it greet you!</h3>
        <p>
            <br>
            <div class="box3">
                <span class="total ">
                    <span class="displayTheName"></span>
                </span>
            </div>
            <label>Name</label>
            <form action="/" method='post'>
                <input type="text" class="myText" value="{{setValues.holdName}}">
            </form>
            <span class="counter">counter:
                <span class="displayTheCount"></span>
            </span>
        </p>
    </div>
    <div class="radioBtnDiv">
        <form action="/" method='post'>
            <input type="radio" class="langTypeRadio" name="lang" value="english">
            <a href="/actions/english"></a>English</a>
            </input>
            <input type="radio" class="langTypeRadio" name="lang" value="afrikaans">
            <a href="/actions/afrikaans"></a>Afrikaans</a>
            </input>
            <input type="radio" class="langTypeRadio" name="lang" value="isiXhosa">
            <a href="/actions/isiXhosa"></a>isiXhosa</a>
            </input>
        </form>
    </div>
    <br>
    <div class="box2">
        <form action="/greet" method='post'>
            <button class="btnDisplayValue button" type="submit" name="placeName">
                <span>Greet</span>
            </button>
        </form>
        <form action="" method='post'>
            <button class="btnResetValue button" type="submit" name="button">
                <span>Reset</span>
            </button>
            </from>>
    </div>
    <br>

    <div class="box4">
        <span class="counter ">
            <span class="displayTheCount">
                <script type="text/x-template" class="regTemplate">

    {{#each displayName}}
    <li>{{this}}</li>
    {{/each}}

                 </script>
            </span>
        </span>
    </div>
</body>