<body>
    <div class="box1">
        <h3>Insert your name and watch it greet you!</h3>
        <p>
            <br>
            <div class="box3">
                <span class="total ">
                    <span class="displayTheName"></span>
                </span>
            </div>
            <label>Name</label>
            <form action="/greet" method='post'>
                <input type="text" name ="name" class="myText" value="{{setValues.holdName}}">
            
            <span class="counter">counter: {{theGreetings}}
                <span class="displayTheCount"></span>
            </span>
        </p>
    </div>
    <div class="radioBtnDiv">
       
            <input type="radio" class="langTypeRadio" name="lang" value="english">
            <a href="/actions/english"></a>English</a>
            </input>
            <input type="radio" class="langTypeRadio" name="lang" value="afrikaans">
            <a href="/actions/afrikaans"></a>Afrikaans</a>
            </input>
            <input type="radio" class="langTypeRadio" name="lang" value="isiXhosa">
            <a href="/actions/isiXhosa"></a>isiXhosa</a>
            </input>
        
    </div>
    <br>
    <div class="box2">
        
            <button class="btnDisplayValue button" type="submit" name="placeName">
                <span>Greet</span>
            </button>
        </form>
        <form action="/reset" method='post'>
            <button class="btnResetValue button" type="submit" name="button">
                <span>Reset</span>
            </button>
            </form>
            <form href="/actions" action="/actions" method='post'>
                <button class="btnResetValue button" type="submit" name="actions">
                    <span>status</span>
                </button>
            </form>
    </div>
    <br>

    <div class="box4">
        <span class="counter ">
            <span class="displayTheCount">
               {{greetMessage}}
            </span>
        </span>
    </div>
</body>