<div class="container">

<table>
    <tr>
        <th>greeting</th>
        <th>date</th>
        <th>counter</th>
    </tr>
    {{#each theList}}
    <tr>
        <td>{{name}}</td>
        <td>{{date}}</td>
        <td>{{counter}}</td>
    </tr>
    {{/each}}
</table>

</div>