<form>
<table>
    <tr>
        <th>names</th>
        <th>counter</th>
    </tr>
    {{#each names}}
    <tr>
        <td><a href="./greeted/{{names}}">{{names}}</a></td>
        <td>{{counter}}</td>
    </tr>
    {{/each}}
</table>
</form>