<table>
    <tr>
        <th>id</th>
        <th>names greeted</th>
        <th>amount names counted</th>
    </tr>
    {{#each names}}
    <tr>
        <td>{{id}}</td>
        <td>{{names}}</td>
        <td>{{counter}}</td>
    </tr>
    {{/each}}
</table>